*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --background: #f2f3f5;
    --gray-line: #DCDDE0;
    --text: #4a677a;
    --text-highlight: #B3B9FF;
    --title: #2d4e65;
    --red: #c5272c;
    --green:#4cd62b;
    --medium-green: #319c52;
    --dark-green: #1b7035;
    --blue: #2AA9E0;
}

@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

@media (max-width: 640px){
    html{
        font-size: 85%;
    }
}

body{
    background: -moz-linear-gradient(top, #eff4f4 0%, #f7fcff 20%); 
    background: -webkit-linear-gradient(top, #eff4f4 0%,#f7fcff 20%); 
    background: linear-gradient(to bottom, #eff4f4 0%,#f7fcff 20%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff4f4', endColorstr='#f7fcff',GradientType=0 );
    color: var(--text);
}

body, input, textarea, button{
    font: 400 1rem 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
